.skip a {
    position: absolute;
    top: -40px;
    color:#FFCB05; 

}

.skip a:focus {
    color: #00274C; 
    position: relative;
    visibility: visible;
    top: 20px;
}

.active {
    background-color: #FFCB05;
    border: 5px solid #00274C;
    color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

img {
    width: 30%;
    max-width: 100%;
    border: 1px solid #00274C;
    height: auto; 
}

header {
    background-color: #00274C;
    color: #00274C;
    text-align: center;
}

header img {
    border: 5px solid white;
    margin: 5%;
    max-width: 100%;
}

header nav ul {
    background-color: #FFCB05;
    display: grid;
    grid-template-columns: 1fr;
}

header nav ul li {
    background-color: white;
    border-radius: 5%;
    padding: 5%;
    margin: 3%;
}


h1{
    background-color: #FFCB05;
    padding: 3%;

}

h2, h3, p {
    padding: 2% 0;
}

#welcome {
    text-align: center;
}

#welcome ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 2%;
    justify-content: center;
    align-items: stretch;
}

#welcome ul li, #quick_actions ul li {
    background-color: #FFCB05;
    border-radius: 5%;
    padding: 5%;
    margin: 1%;
}

#physical_health, #mental_health, #life-outside-classroom, #support_tools, #what_we_provide, #our_services, #quick_actions{
    display: grid;
    grid-template-columns: 1fr;
}


#physical_health article, #mental_health article, #life-outside-classroom ul li, #support_tools ol li , #what_we_provide ol li, #our_services ul li {
    border: 3px solid #FFCB05; 
    margin: 5%; 
    padding: 5%; 
}

#quick_actions ul li {
    margin: 5%;
    padding: 5%;
}


#support_tools ol li img {
    display: grid;
    justify-self: center; 
    align-self: center;
    max-width: 100%; 
    margin: 5%;
}

#support_tools ol li a {
    font-weight:bold; 
}

#support_tools ol li p {
    padding-bottom: 5%;
}

ul, ol {
    list-style-type: none;
}

section {
    border: 10px solid #00274C;
    text-align: center;
    margin: 5%;
    padding: 5%;
}

footer {
    background-color: #FFCB05;
    padding: 2% 5% 2% 2%;
}

@media screen and (min-width: 650px) {
    header nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    #welcome ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: 2%;
        justify-content: center;
        align-items: stretch;
    }

    #physical_health, #mental_health, #what_we_provide ol, #our_services ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #what_we_provide h2 {
        grid-column: 1 / -1; 
    }

    #what_we_provide ol li, #our_services ul li {
        padding: 5%; 
    }

    #our_services h2, p {
        grid-column: 1 / -1;
    }

    #physical_health h2, p {
        grid-column: 1 / -1;
    }


    #mental_health h2, p {
        grid-column: 1 / -1;
    }

    #mental_health article:nth-child(1),
    #mental_health article:nth-child(3) {
        grid-column: 1 / span 1;
    }

    #mental_health article:nth-child(2),
    #mental_health article:nth-child(4) {
        grid-column: 2 / span 1;
    }

    #life-outside-classroom ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 5%;
    }

    #life-outside-classroom h2, p {
        grid-column: 1 / -1;
    }

    #support_tools ol {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #support_tools h2{
        grid-column: 1 / -1;
    }

    #quick_actions ul {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

}